@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрытие скроллбара для всех элементов */
* {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}